<nav class="navbar">
  <div class="hamburger-menu">
    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle" class="menu-icon">&#9776;</label>
    <div class="menu">
      <a routerLink="/home" (click)="goToHome()" routerLinkActive="active"
        >Home</a
      >
      <a routerLink="/about" (click)="goToAbout()" routerLinkActive="active"
        >About</a
      >
      <a routerLink="/contact" (click)="goToContact()" routerLinkActive="active"
        >Contact</a
      >
    </div>
  </div>
</nav>
<router-outlet />
